@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #fff;
}
#root{
  display: flex;
}
:root {
  --primary-clr: #b38add;
}
.cl-userButtonBox {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonOuterIdentifier {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #384262;
}
.no-scroll {
  overflow: hidden;
}
.global-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #0f121a;
  font-weight: normal;
  /* padding: 10px 60px; */
}
.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #208dbf;
  border-radius: 50px;
}