.trending-youtube-headline-container{
    display: flex;
    gap: 5rem;
    align-items: center;
    padding: 0 10px;
}
.trending-youtube-category-container{
    display: flex;
    gap: 0.2rem;
    padding: 5px 10px;
    align-items: center
}
.trending-youtube-headline-container select{
    border: none;
    background: none;
    border-radius: 15px;
    outline: none;
    color: white;
    font-size: 15px;
    width: 90px;
    height: 22px;
    margin-top: 2px;
    cursor: pointer;
}
.trending-youtube-headline-container option{
    background-color: black;
}
.trending-youtube-container hr{
    width: 99%;
}
.trending-yt-videos{
    padding-top: 20px;
}
.trending-yt-video{
    display: flex;
    margin-bottom: 50px;
    gap: 2rem;
    padding: 20px;
    align-items: start;
}
.trending-yt-video iframe, .video-dummy{
    width: 500px !important;
    height: 280px !important;
}

@media screen and (max-width: 1450px) {
    .trending-yt-video h2{
        font-size: 24px;
    }
    .trending-yt-video p{
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .trending-yt-video iframe, .video-dummy{
        width: 400px !important; 
        height: 250px !important;
    }
    .trending-yt-video h2{
        font-size: 20px;
    }
    .trending-yt-video p{
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .trending-yt-video iframe, .video-dummy{
        width: 80vw !important;
        height: 40vh !important;
    }
    .trending-yt-video{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .trending-youtube-headline-container{
        flex-direction: column;
        gap: 0;
        align-items: start;
        padding-bottom: 15px;
    }
    .trending-youtube-container hr{
        width: 95%;
    }
    .trending-yt-video iframe, .video-dummy{
        width: 80vw !important;
        height: 30vh !important;
    }
    .trending-yt-video{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}