.overview-statistics-main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px
}
.overview-statistics-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.overview-statistics-header {
    display: flex;
    flex-direction: column;
}

.overview-statistics-title {
    font-size: 22px;
    margin-bottom: 5px
}

.overview-statistics-subtitle {
    font-size: 13px;
    color: #bdbdbd;
}

.overview-statistics-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.overview-time-select {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    width: 120px;
    height: 22px
}

.overview-statistics-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 15px;
}

.overview-statistics-info-section {
    display: flex;
    gap: 3rem
}

.overview-statistics-info-block {
    display: flex;
    flex-direction: column;
    gap: 0.75rem
}

.overview-statistics-info-label {
    font-size: 13px
}

.overview-statistics-info-value {
    font-size: 25px;
}

.overview-statistics-info-change {
    display: flex;
    font-size: 13px;
}

.overview-statistics-info-percent {
    color: #30ab38;
    margin-right: 20px
}

.overview-statistics-legend {
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 1.2rem
}

.overview-statistics-legend-item {
    display: flex;
    align-items: center;
    gap: 0.7rem
}

.overview-statistics-legend-marker {
    height: 10px;
    width: 10px;
    border-radius: 5rem;
    background-color: #329dc8
}

.overview-statistics-legend-label {
    font-size: 13px
}

.overview-statistics-chart {
    display: flex;
    width: 100%;
    justify-content: center
}



@media screen and (max-width: 1200px) {
    .overview-statistics-main {
        flex-direction: column;
        gap: 5rem;
        padding: 10px 4%
    }

    .overview-statistics-legend{
        justify-content: start;
    }
    .overview-statistics-chart img{
        width: 100%;
    }
}


@media screen and (max-width: 800px) {
    .overview-statistics-info-section {
        flex-direction: column;
    }
    .overview-statistics-main {
        padding: 50px 4%;
    }
}